.navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 70px;
    z-index: 999;
    font-size: 1.3rem;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-logo {
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    justify-content: end;
    text-align: center;
    width: 50vw;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
}